<h1>Applicant <%= "#{@application.name}" %>'s Information</h1>

<p>Address: <%= "#{@application.street_address}" %></p>
<p>City: <%= "#{@application.city}" %></p>
<p>State: <%= "#{@application.state}" %></p>
<p>Zip Code: <%= "#{@application.zip_code}" %></p>
<p>Description: <%= "#{@application.description}" %></p>

<h2>Pets Applied For</h2>
<% @application.pets.each do |pet|%></p>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end  %>

<p>Application Status: <%= "#{@application.status}" %></p>