<h1>Applicant <%= "#{@applicant.name}" %>'s Information</h1>

<p>Address: <%= "#{@applicant.street_address}" %></p>
<p>City: <%= "#{@applicant.city}" %></p>
<p>State: <%= "#{@applicant.state}" %></p>
<p>Zip Code: <%= "#{@applicant.zip_code}" %></p>
<p>Description: <%= "#{@applicant.description}" %></p>

<h2>Pets Applied For</h2>
<% @applicant.pets.each do |pet|%></p>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end  %>

<p>Application Status: <%= "#{@applicant.status}" %></p>